.home {
  margin-top: 50px;
  
  .title {
    text-align:center;
  }

  .cardList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
  
    width: 100%;
  }
}
