.card {
    width: 300px;
    // height: 300px;
    flex: 0 0 20%;
    align-items: center;
    justify-content: center;
    // border: 2px solid #2376bc;
    margin: 20px;
    overflow: hidden;
    background-color: #e8e8e8;
    border-radius:10px;
    box-shadow:2px 2px 10px black;

    .title {
        height: 30px;
        margin: 10px;
        padding: 0 10px;
    }

    .image {
        object-fit: cover;
        width: 100%;
        height: 400px;
        margin-top: 10px;

        &:hover {
            width: 10%;
            height: 1000px;
        }
    }

    .content {
        height: 100px;
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

}